.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img {
    height: 450px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .img {
        height: 400px;
    }

}

@media (max-width: 800px) {
    .img {
        height: 250px;
    }

}

@media (max-width: 500px) {
    .img {
        height: 200px;
    }

}